<template>
  <footer>
    <div id="footer-content">
      <p>@ 2023 Quickdeal</p>
      <p>Powered by Spring</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterItem",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
footer {
  @include flex-center;
  height: 200px;
  margin-top: 25rem;
  background-color: $header-bg-color;

  #footer-content {
    width: $content-width;
    max-width: 90%;
  }
}
</style>
