<template>
  <Popup :popupData="popupData"></Popup>
  <header id="header">
    <!-- <p>{{ $t("message") }}</p> -->
    <nav id="top-nav-bar">
      <div>
        <router-link to="/">
          <img
            src="../assets/images/logo.png"
            class="logo"
            style="height: 40px; width: auto"
          />
        </router-link>
      </div>
      <div id="nav-button-group">
        <!-- Create item -->
        <router-link
          to="/create-item"
          style="text-decoration: none; color: inherit"
          v-if="loggedIn"
        >
          <button>
            <img src="../assets/images/add-circle.svg" alt="" />
            <span>Ny annonse</span>
          </button>
        </router-link>

        <!-- Log in -->
        <router-link
          v-if="!loggedIn"
          to="/login"
          style="text-decoration: none; color: inherit"
        >
          <button id="log-in">
            <img src="../assets/images/profile-circle.svg" alt="" />
            <span>Logg inn</span>
          </button>
        </router-link>

        <!-- Menu -->
        <button
          v-if="loggedIn"
          id="menu"
          @click="showMenu = !showMenu"
          :class="{ 'menu-button-opened': showMenu }"
        >
          <img :src="require(`@/assets/images/${menuImage}`)" alt="" />
          <span>{{ menuText }}</span>
        </button>
      </div>
    </nav>
  </header>
  <div id="collapse-container">
    <section id="collapse-menu" v-if="showMenu">
      <div id="content-divider">
        <ul v-if="loggedIn">
          <h3>Konto</h3>
          <li v-for="(link, index) in userLinks" :key="index">
            <router-link :to="link.path">
              <button class="link-button">{{ link.name }}</button>
            </router-link>
          </li>
          <li>
            <button id="logOutButton" @click="logOut()">Logg ut</button>
          </li>
        </ul>
        <ul class="actions-list">
          <h3>Handlinger</h3>
          <li v-if="this.$store.state.loggedInStatus">
            <router-link to="/create-item">
              <button class="link-button">
                <img src="../assets/images/add-circle.svg" alt="" />
                <span>Ny annonse</span>
              </button>
            </router-link>
          </li>
          <li v-if="!this.$store.state.loggedInStatus">
            <router-link
              to="/login"
              style="text-decoration: none; color: inherit"
            >
              <button id="log-in">
                <img src="../assets/images/profile-circle.svg" alt="" />
                <span>Logg inn</span>
              </button>
            </router-link>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
import Popup from "@/components/PopupItem.vue";

export default {
  name: "HeaderItem",
  components: {
    Popup,
  },
  data() {
    return {
      showMenu: false,
      popupData: {
        message: "",
        display: "none",
        routerMessage: "",
        routerLink: "",
      },
    };
  },
  methods: {
    logOut() {
      this.$store.commit("CHANGE_LOGGED_IN_STATUS", false);
      this.$router.push({ path: "/" });
      this.popupData.message = "Logget ut";
      this.popupData.display = "flex";
    },
  },
  computed: {
    menuImage() {
      return this.showMenu ? "cancel.svg" : "menu.svg";
    },
    menuText() {
      return this.showMenu ? "Lukk" : "Meny";
    },
    loggedIn() {
      return this.$store.state.loggedInStatus;
    },
    userLinks() {
      return [
        { name: "Min side", path: "/user-account" },
        { name: "Mine favoritter", path: "/favorites" },
        { name: "Mine annonser", path: "/published-items" },
      ];
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#header {
  position: sticky;
  top: 0;
  z-index: 999;
  @include flex-center;
  height: 70px;
  margin-bottom: 20px;
  background-color: $header-bg-color;

  #top-nav-bar {
    width: $content-width;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $content-width;
    height: 100%;

    button {
      @include button-low-emphasis;
      border: none;
      background: none;
      height: 70%;
      padding: 0px 15px;
      @include flex-center;
      gap: 5px;
      font-weight: 600;
      font-size: 0.9rem;

      &:not(#menu) {
        @media only screen and (max-width: 735px) {
          display: none;
        }
      }

      span {
        color: white !important;
      }
    }

    img {
      width: 25px;
    }
  }
}

#nav-button-group {
  height: 100%;
  @include flex-center;
  gap: 20px;
}

#log-in {
  @include flex-center;
  gap: 10px;
  @include button-high-emphasis;
}

#logOutButton {
  @include button-low-emphasis;
}

.menu-button-opened {
  background-color: rgba($btn-bg-color, 0.2) !important;
}

#collapse-container {
  position: fixed;
  width: 100%;
  height: fit-content;
  @include flex-center;
  margin-top: -20px;
}

#collapse-menu {
  width: 100%;
  max-width: 100%;
  height: 50vh;
  background-color: $header-bg-color;
  box-shadow: $box-shadow;
  @include flex-center;
}

#content-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: $content-width;
  max-width: 90%;
}

ul {
  list-style: none;

  h3 {
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.actions-list {
  display: none;

  @media only screen and (max-width: 735px) {
    display: block;
  }

  span {
    font-weight: 600;
  }
}

.link-button {
  @include button-low-emphasis;
  display: flex;
  align-items: center;
  gap: 5px;
}

ul > li:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 550px) {
}

@media only screen and (max-width: 550px) {
}
</style>
