<template>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <main id="main-content-container">
    <section id="search-section">
      <form id="search-form" @submit.prevent="onSubmit">
        <input
          type="text"
          v-model="searchInput"
          placeholder="Hva søker du etter?"
        />
      </form>
    </section>
    <!-- <p>{{ $t("message") }}</p> -->
    <section id="items-section">
      <div id="items-section-top-bar">
        <p v-if="sortedItems.length">
          <span style="font-weight: bold">{{ sortedItems.length }}</span>
          annonser
        </p>
        <p v-else style="font-weight: bold">Ingen treff</p>
        <div>
          <div id="category-wrapper">
            <label for="category-select">Kategori</label>
            <select
              id="category-select"
              @change="filterByCategory($event.target.value)"
            >
              <option v-for="(option, index) in categories" :key="index">
                {{ option.name }}
              </option>
            </select>
            <div id="sort-by-wrapper">
              <label for="sort-by-select">Sorter på</label>
              <select
                v-model="sortMethod"
                id="sort-by-select"
                @change="changed($event.target.value)"
              >
                <option v-for="(option, index) in sortingOptions" :key="index">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div id="items-grid">
        <ItemComponent
          v-for="(item, index) in sortedItems"
          :item="item"
          :key="index"
          @mouseover="hover = index"
          @mouseleave="hover = -1"
        >
        </ItemComponent>
      </div>
    </section>
  </main>
</template>

<script>
import EventService from "@/services/EventService.js";
import CategoryService from "@/services/CategoryService.js";
import ItemComponent from "@/components/ItemComponent.vue";

export default {
  name: "HomePageItem",
  components: {
    ItemComponent,
  },
  data() {
    return {
      searchInput: "",
      // TODO: move favorites to user data
      favorites: null,
      sortMethod: "Laveste pris",
      sortingOptions: [
        { name: "Nærmest meg" },
        { name: "Laveste pris" },
        { name: "Høyeste pris" },
      ],
      hover: -1,
      categories: [],
      items: [],
      sortedItems: [],
      categorySelected: "Alle",
      position: {
        latitude: null,
        longitude: null,
      },
    };
  },
  async created() {
    EventService.getItems()
      .then((response) => {
        this.items = response.data;
        this.sortedItems = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
    CategoryService.getCategories()
      .then((response) => {
        this.categories.push({
          name: "Alle",
        });
        response.data.forEach((element) => {
          this.categories.push(element);
        });
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    filteredItemList() {
      return this.items.filter((item) => {
        let searchInput = this.searchInput.toLowerCase();
        return (
          item.itemName.toLowerCase().includes(searchInput) ||
          item.shortDescription.toLowerCase().includes(searchInput)
        );
      });
    },
    onSubmit() {
      this.sortedItems = this.filteredItemList();
    },
    changed(to) {
      this.sortMethod = to;
      this.sortedItems = this.sortedArray();
    },
    filterByCategory(newCategory) {
      if (newCategory == "Alle") {
        this.sortedItems = this.items;
      } else {
        const sortedItems = this.filteredItemList();
        this.sortedItems = sortedItems.filter((item) => {
          return item.category.name == newCategory;
        });
      }
    },
    assignPosition(position) {
      this.position.latitude = position.coords.latitude;
      this.position.longitude = position.coords.longitude;
      this.sortItemsByProximity();
    },
    sortItemsByProximity() {
      this.sorteditems = this.sortedItems.sort((a, b) => {
        const distanceToA = this.getDistanceBetweenCoordinates(
          a.latitude,
          a.longitude,
          this.position.latitude,
          this.position.longitude
        );
        const distanceToB = this.getDistanceBetweenCoordinates(
          b.latitude,
          b.longitude,
          this.position.latitude,
          this.position.longitude
        );
        if (distanceToA < distanceToB) {
          return -1;
        } else if (distanceToA > distanceToB) {
          return 1;
        } else {
          return 0;
        }
      });
    },
    getDistanceBetweenCoordinates(x1, y1, x2, y2) {
      // Calculate relative distance
      let y = x2 - x1;
      let x = y2 - y1;
      return x * x + y * y;
    },
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.assignPosition);
      } else {
        alert("Geolokasjon støttes ikke av denne nettleseren");
      }
    },
    sortedArray() {
      switch (this.sortMethod) {
        case "Laveste pris":
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          return this.sortedItems.sort((a, b) => {
            if (a.price < b.price) {
              return -1;
            } else if (a.price > b.price) {
              return 1;
            } else {
              return 0;
            }
          });
        case "Høyeste pris":
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          return this.sortedItems.sort((a, b) => {
            if (a.price > b.price) {
              return -1;
            } else if (a.price < b.price) {
              return 1;
            } else {
              return 0;
            }
          });
        case "Nærmest meg":
          this.getLocation();
          return this.sortedItems;
        default:
          console.log("Invalid sorting option selected");
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#main-content-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

#items-section {
  width: $content-width;
  max-width: 90%;
}

#items-section-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @media only screen and (max-width: 570px) {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

#items-grid {
  margin: auto;
  display: grid;
  gap: 25px;
  grid-auto-rows: minmax(13rem, auto);
  grid-template-columns: repeat(3, minmax(13rem, 20rem));
  justify-items: center;
  align-items: center;

  @media only screen and (max-width: 735px) {
    grid-template-columns: repeat(2, minmax(13rem, 20rem));
  }

  @media only screen and (max-width: 487px) {
    grid-template-columns: 1fr;
  }
}

select {
  @include button-medium-emphasis;
  height: $btn-height;
  font-size: $font-size-medium;
  padding: 10px;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    background-color: rgba(#2979ff, 0.1);
  }
}

#sort-by-wrapper,
#category-wrapper {
  @include flex-center;
  gap: 10px;

  @media only screen and (max-width: 570px) {
    flex-direction: column;
  }
}

#search-section {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;

  form {
    margin: auto;
    width: 30rem;
    max-width: 90%;
    background-color: white;
    border-radius: $border-radius;
  }

  input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    background: url("@/assets/images/search.svg") no-repeat scroll center left;
    background-position-x: 10px;
    padding-left: 50px !important;
    border: none;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }
}
</style>
