<template>
  <div id="item" :class="{ archivedStyle: item.archived }">
    <router-link
      style="text-decoration: none; color: inherit"
      class="router-link"
      :to="{ name: 'item', params: { id: item.itemId } }"
    >
      <div>
        <img :src="getsrc(item.itemImage.id)" alt="" class="item-image" />
      </div>
      <div id="grid-item-desc">
        <div id="grid-item-desc-top">
          <h3 id="title">{{ item.itemName }}</h3>
          <p id="price">{{ numberSpacesThousands(item.price) }} kr</p>
        </div>

        <div class="grid-item-bottom">
          <div id="desc-wrapper">
            <p class="desc">{{ item.shortDescription }}</p>
          </div>
          <div id="address-wrapper">
            <img src="../assets/images/pin-alt.svg" alt="" />
            <p>{{ item.address }}</p>
          </div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "ItemComponent",
  props: ["item"],
  methods: {
    getsrc(imageid) {
      return "http://localhost:8080/api/images/" + imageid + "/image";
    },
    numberSpacesThousands(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#item {
  background-color: $item-bg-color;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $box-shadow;
  cursor: pointer;

  &:hover {
    background-color: rgb(242, 248, 255);
  }
}

.router-link {
  height: 100%;
}

.item-image {
  width: 100%;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.desc {
  color: rgb(41, 41, 41);
  font-size: $font-size-small;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

#grid-item-desc-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
}

#price {
  min-width: fit-content;
  font-weight: 500;
}

#grid-item-desc {
  max-width: 100%;
  margin: 20px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.grid-item-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

#title {
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.archivedStyle {
  background-color: rgba($yellow, 0.2) !important;
}

#address-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-size: $font-size-small;
  }

  img {
    width: 25px;
  }
}

#desc-wrapper {
  word-break: break-all;
}
</style>
