<template>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <PopupItem :popupData="popupData"></PopupItem>
  <div id="main-container">
    <section v-if="item" id="content-container">
      <img :src="image" alt="" />
      <div id="image-meta-top">
        <h1 id="item-title">{{ item.itemName }}</h1>
        <div id="button-wrapper">
          <div v-if="showLoggedInButtons">
            <button
              id="favoriteButton"
              @click="addToFavorites()"
              v-if="!isFavorite"
            >
              Legg til favoritt
            </button>
            <button @click="removeFromFavorites()" v-else>
              Fjærn favoritt
            </button>
          </div>
          <router-link
            v-if="showEditButtons"
            :to="{ name: 'updateItemView', params: { id: item.itemId } }"
          >
            <button id="edit-item">Rediger annonse</button>
          </router-link>
          <div v-if="showArchiveButton">
            <button id="archive-button" @click="archive()">
              Arkiver annonse
            </button>
          </div>
          <div v-if="showPublishButton">
            <button @click="publish()" id="publish-item">Publiser</button>
          </div>
        </div>
      </div>
      <div id="archived-message" v-if="item.archived">
        <img src="../assets/images/archive.svg" alt="archive" />
        <h3>ARKIVERT</h3>
      </div>
      <p id="category">{{ item.category.name }}</p>
      <p id="price">{{ numberSpacesThousands(item.price) }} kr</p>
      <div id="postalcode">
        <img src="../assets/images/pin-alt.svg" alt="pin" />
        <p>{{ item.address }}</p>
      </div>
      <div id="item-main-content">
        <div id="descriptions">
          <h4>{{ item.shortDescription }}</h4>
          <p>{{ item.longDescription }}</p>
        </div>
        <div id="seller-meta">
          <img src="../assets/images/profile-circle.svg" alt="" />
          <p>{{ sellerAccount.username }}</p>
          <p>{{ sellerAccount.userEmail }}</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import EventService from "@/services/EventService";
import AuthenticateService from "@/services/AuthenticateService";
import PopupItem from "@/components/PopupItem.vue";

export default {
  name: "ItemDetails",
  components: {
    PopupItem,
  },
  mounted() {
    AuthenticateService.getCurrentUser().then((response) => {
      this.user = response;
    });
  },
  data() {
    return {
      isFavorite: false,
      popupData: {
        message: "",
        display: "none",
        routerMessage: "",
        routerLink: "",
      },
      user: {
        id: null,
      },
      sellerAccount: {
        id: 0,
        userEmail: "",
        username: "",
      },
      item: {
        itemId: 1,
        itemName: "car",
        price: 50000,
        shortDescription: "A super cool car",
        longitude: 0,
        latitude: 0,
        longDescription: "",
        address: "",
        itemImage: null,
        archived: false,
        category: {
          categoryId: null,
        },
        buyerAccount: {
          id: 0,
          userEmail: "",
          username: "",
        },
      },
      image: "",
    };
  },
  computed: {
    showPublishButton() {
      return this.item.archived;
    },
    showEditButtons() {
      return (
        this.$store.state.loggedInStatus &&
        this.sellerAccount.id == this.user.id
      );
    },
    showArchiveButton() {
      return this.showEditButtons && !this.item.archived;
    },
    showLoggedInButtons() {
      return (
        this.$store.state.loggedInStatus &&
        !(this.sellerAccount.id == this.user.id)
      );
    },
  },
  methods: {
    archive() {
      this.item.archived = true;
      this.popupData.message = "Annonsen er arkivert";
      EventService.updateItem(this.item.itemId, this.item);
      this.showPopup();
    },
    publish() {
      this.item.archived = false;
      EventService.updateItem(this.item.itemId, this.item);
      this.popupData.message = "Annonsen er publisert!";
      this.showPopup();
    },
    addToFavorites() {
      AuthenticateService.getCurrentUser().then((response) => {
        AuthenticateService.addFavoriteToUser(this.item.itemId, response.id)
          .then((response) => {
            if (response) {
              this.isFavorite = true;
              this.popupData.message = "Lagt til i mine favoritter";
              this.showPopup();
            } else {
              console.log("NO RESPONSE");
            }
          })
          .catch((error) => {
            console.log(error.message);
          });
      });
    },
    removeFromFavorites() {
      AuthenticateService.getCurrentUser().then((response) => {
        AuthenticateService.deleteFavoriteFromUser(
          this.item.itemId,
          response.id
        );
        this.popupData.message = "Fjærnet fra mine favoritter";
        this.showPopup();
        this.isFavorite = false;
      });
    },
    numberSpacesThousands(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
    showPopup() {
      this.popupData.display = "flex";
    },
  },
  async created() {
    AuthenticateService.getCurrentUser().then((response) => {
      AuthenticateService.isItemUserFavorite(
        this.item.itemId,
        response.id
      ).then((response) => {
        this.isFavorite = response;
      });
    });

    EventService.getItem(this.$route.params.id)
      .then((response) => {
        this.item = response.data;
        const ImageId = this.item.itemImage.id;
        this.image = "http://localhost:8080/api/images/" + ImageId + "/image";

        EventService.getItemSeller(this.$route.params.id)
          .then((response) => {
            this.sellerAccount.username = response.data.username;
            this.sellerAccount.userEmail = response.data.email;
            this.sellerAccount.id = response.data.id;
          })
          .catch((error) => {
            console.log(error);
          });
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#main-container {
  width: 100vw;
  @include flex-center;

  img {
    max-width: 100%;
  }
}

#archived-message {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  h3 {
    color: $yellow;
  }
}

#archive-button {
  @include button-medium-emphasis;
}

#favoriteButton {
  @include button-medium-emphasis;
}

#content-container {
  width: $content-width;
  max-width: 90%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#publish-item {
  @include button-high-emphasis;
}

#postalcode {
  display: flex;
  align-items: center;
  gap: 5px;

  img {
    width: 25px;
  }
}

#button-wrapper {
  display: flex;
  gap: 10px;

  > button {
    @include button-medium-emphasis;
    padding-left: 45px !important;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIzMHB4IiBoZWlnaHQ9IjMwcHgiIHN0cm9rZS13aWR0aD0iMS4yIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0yMiA4Ljg2MmE1Ljk1IDUuOTUgMCAwMS0xLjY1NCA0LjEzYy0yLjQ0MSAyLjUzMS00LjgwOSA1LjE3LTcuMzQgNy42MDgtLjU4MS41NS0xLjUwMi41My0yLjA1Ny0uMDQ1bC03LjI5NS03LjU2MmMtMi4yMDUtMi4yODYtMi4yMDUtNS45NzYgMC04LjI2MWE1LjU4IDUuNTggMCAwMTguMDggMGwuMjY2LjI3NC4yNjUtLjI3NEE1LjYxMiA1LjYxMiAwIDAxMTYuMzA1IDNjMS41MiAwIDIuOTczLjYyNCA0LjA0IDEuNzMyQTUuOTUgNS45NSAwIDAxMjIgOC44NjJ6IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+");
    background-position: 15px;
    background-size: 25px;
    background-repeat: no-repeat;
  }
}

#edit-item {
  @include button-medium-emphasis;
}

#image-meta-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#contact-seller {
  @include button-high-emphasis;
  margin-left: 10px;
}

#category {
  color: $header-bg-color;
  margin-top: -20px;
  font-size: $font-size-small;
}

#item-main-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    border: 1px solid $header-bg-color;
    border-radius: $border-radius;
    padding: 1rem 2rem;
    gap: 1rem;
  }

  #descriptions {
    width: 100vw;
    display: flex;
    flex-direction: column;

    p,
    h4 {
      word-break: break-all;
    }
  }

  #seller-meta {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-height: fit-content;
  }
}

#price {
  font-size: 1.3rem;
}
</style>
