<template>
  <div class="topnavigation">
    <img style="height: 100%; width: auto" src="../assets/images/logo.png" />
  </div>
  <div class="container">
    <div class="formbox">
      <h1 id="title">Logg inn</h1>
      <form @submit.prevent="onSubmit">
        <div class="input-group">
          <!-- Name -->
          <div
            :class="{ error: v$.userCredentials.userName.$errors.length }"
            id="nameField"
          >
            <div class="input-field">
              <img src="../assets/images/profile-circle.svg" />
              <input
                type="text"
                placeholder="Navn"
                v-model="v$.userCredentials.userName.$model"
              />
            </div>
            <div
              class="input-errors"
              v-for="(error, index) of v$.userCredentials.userName.$errors"
              :key="index"
            >
              <div class="error-msg">{{ error.$message }}</div>
            </div>
          </div>

          <!-- Email -->
          <div :class="{ error: v$.userCredentials.userEmail.$errors.length }">
            <div class="input-field">
              <img src="../assets/images/mail.svg" />
              <input
                type="email"
                placeholder="Epost"
                v-model="v$.userCredentials.userEmail.$model"
              />
            </div>
            <div
              class="input-errors"
              v-for="(error, index) of v$.userCredentials.userEmail.$errors"
              :key="index"
            >
              <div class="error-msg">{{ error.$message }}</div>
            </div>
          </div>

          <!-- Password -->
          <div :class="{ error: v$.userCredentials.password.$errors.length }">
            <div class="input-field">
              <img src="../assets/images/lock.svg" />
              <input
                type="password"
                placeholder="Passord"
                v-model="v$.userCredentials.password.$model"
              />
            </div>
            <div
              class="input-errors"
              v-for="(error, index) of v$.userCredentials.password.$errors"
              :key="index"
            >
              <div class="error-msg">{{ error.$message }}</div>
            </div>
          </div>
        </div>
        <div id="error-cred-message" v-if="displayIncorrectMessage">
          Feil brukernavn eller passord
        </div>
        <div id="error-cred-message" v-if="showAlreadyCreatedMessage">
          Brukernavnet er allerede tatt
        </div>
        <div class="btn-field">
          <button
            type="button"
            :disabled="v$.userCredentials.$invalid"
            id="signupBtn"
            @click="onSubmitSignUp"
          >
            Registrer deg
          </button>
          <button
            type="button"
            :disabled="v$.userCredentials.$invalid"
            id="signinBtn"
            class="disable"
            @click="onSubmitSignIn"
          >
            Logg inn
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import AuthenticateService from "@/services/AuthenticateService";
import useVuelidate from "@vuelidate/core";
import { required, email, helpers, minLength } from "@vuelidate/validators";

export default {
  name: "LoginPage",
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  validations() {
    return {
      userCredentials: {
        userName: {
          required: helpers.withMessage("Navn er påkrevd", required),
          min: helpers.withMessage(
            "Navn må inneholde minst 4 bokstaver",
            minLength(4)
          ),
        },
        userEmail: {
          required: helpers.withMessage("Epost er påkrevd", required),
          email: helpers.withMessage("Eposten er ikke gyldig", email),
        },
        password: {
          required: helpers.withMessage("Passord er påkrevd", required),
          min: helpers.withMessage(
            "Passord må inneholde minst 6 bokstaver",
            minLength(6)
          ),
        },
      },
    };
  },
  data() {
    return {
      showAlreadyCreatedMessage: false,
      displayIncorrectMessage: false,
      userCredentials: {
        userName: "",
        userEmail: "",
        password: "",
      },
    };
  },

  methods: {
    updateTokenState(value) {
      this.$store.commit("CHANGE_USERTOKEN", value);
      this.$store.commit("CHANGE_LOGGED_IN_STATUS", true);
    },
    onSubmitSignUp() {
      AuthenticateService.signUp(
        this.userCredentials.userName,
        this.userCredentials.userEmail,
        this.userCredentials.password
      ).then((response) => {
        if (response === "Account added successfully") {
          this.onSubmitSignIn();
        } else {
          this.showAlreadyCreatedMessage = true;
        }
      });
    },
    onSubmitSignIn() {
      AuthenticateService.logIn(
        this.userCredentials.userName,
        this.userCredentials.password
      ).then((response) => {
        if (response === "user do not exist") {
          this.displayIncorrectMessage = true;
        } else {
          this.updateTokenState(response.accessToken);
          this.$router.push({
            name: "home",
          });
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
.container {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#signupBtn {
  @include button-medium-emphasis;
}

#signinBtn {
  @include button-high-emphasis;
}

#error-cred-message {
  color: red;
}

.formbox {
  width: 30rem;
  max-width: 90%;
  height: fit-content;
  max-width: 90%;
}

.error-msg {
  color: red;
  font-size: $font-size-small;
}

.topnavigation {
  height: 70px;
  position: sticky;
  background-color: #0093fb;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: black;
  position: relative;
}

.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: black;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #9999;
}

form p {
  text-align: left;
  font-size: 13px;
}

form p a {
  text-decoration: none;
  color: #3c00a0;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  background: 3c00a0;
  color: white;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn-field {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.btn-field button.disable {
  background: #eaeaea;
  color: #555;
}
</style>
