<!-- eslint-disable vue/no-mutating-props -->
<template>
  <div id="container" :style="{ display: popupData.display }">
    <div id="popup">
      <div id="left-wrapper">
        <h3>{{ popupData.message }}</h3>
        <router-link :to="popupData.routerLink">{{
          popupData.routerMessage
        }}</router-link>
      </div>
      <button id="cancel" @click="popupData.display = 'none'">
        <img src="../assets/images/cancel.svg" alt="cancel" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopupItem",
  props: ["popupData"],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#container {
  width: 100vw;
  @include flex-center;
  background-color: yellow;
}

#left-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 5px;
}

#cancel {
  @include button-low-emphasis;
  background-color: $green;
}

#popup {
  position: absolute;
  top: 5rem;
  width: 30rem;
  max-width: 90%;
  background-color: $green;
  @include flex-center;
  justify-content: space-between;
  padding: 20px 25px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  z-index: 9000;

  opacity: 1;
  animation-name: fadeInUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
</style>
