<template>
  <div id="main-container">
    <section id="content-section">
      <div>
        <div>
          <h2>Publisert ({{ publishedUserItems.length }})</h2>
        </div>

        <item-component
          class="item"
          v-for="(item, index) in publishedUserItems"
          :item="item"
          :key="index"
        >
          <h1>{{ item.itemName }}</h1>
          <router-link
            style="text-decoration: none; color: inherit"
            :to="{ name: 'item', params: { id: item.itemId } }"
          >
          </router-link>
        </item-component>
      </div>

      <div>
        <div>
          <h2>Arkivert ({{ archivedUserItems.length }})</h2>
        </div>

        <item-component
          class="item"
          v-for="(item, index) in archivedUserItems"
          :item="item"
          :key="index"
        >
          <h1>{{ item.itemName }}</h1>
          <router-link
            style="text-decoration: none; color: inherit"
            :to="{ name: 'item', params: { id: item.itemId } }"
          >
          </router-link>
        </item-component>
      </div>
    </section>
  </div>
</template>

<script>
import AuthenticateService from "@/services/AuthenticateService.js";
import ItemComponent from "@/components/ItemComponent.vue";

export default {
  name: "PublishedItems",
  components: {
    ItemComponent,
  },
  data() {
    return {
      userItems: [],
      showArchived: false,
    };
  },
  mounted() {
    // Set user items
    AuthenticateService.getCurrentUser().then((response) => {
      this.userItems = response.items;
    });
  },
  computed: {
    archivedUserItems() {
      return this.userItems.filter((element) => {
        return element.archived;
      });
    },
    publishedUserItems() {
      return this.userItems.filter((element) => {
        return !element.archived;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#main-container {
  width: 100vw;
  @include flex-center;
}

#content-section {
  margin-top: 5rem;
  display: flex;
  gap: 20px;
  width: 30rem;
  max-width: 90%;
  margin-bottom: 5rem;

  > div {
    display: flex;
    gap: 20px;
    width: max-content;
    flex-direction: column;
  }
}

.item {
  height: fit-content !important;
}
</style>
