<template>
  <Popup :popupData="popupData"></Popup>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div id="main-container">
    <section id="create-item-section">
      <form
        enctype="multipart/form-data"
        class="create-item-form"
        @submit.prevent="onSubmit"
        @change="setState()"
      >
        <h2>Rediger annonse</h2>

        <!-- Title -->
        <div
          class="form-group"
          :class="{ error: v$.item.itemName.$errors.length }"
        >
          <label for="title">Tittel *</label>
          <input
            maxlength="20"
            type="text"
            id="title"
            v-model="v$.item.itemName.$model"
          />
          <!-- error message -->
          <div
            class="input-errors"
            v-for="(error, index) of v$.item.itemName.$errors"
            :key="index"
          >
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>

        <!-- Category -->
        <div>
          <label for="category">Kategori *</label>
          <select id="category" v-model="item.category.categoryId">
            <option
              v-for="(category, index) in categories"
              :key="index"
              :value="category.categoryId"
            >
              {{ category.name }}
            </option>
          </select>
        </div>

        <!-- Price -->
        <div
          class="form-group"
          :class="{ error: v$.item.itemName.$errors.length }"
        >
          <label for="price">Pris *</label>
          <input
            max="100000000"
            type="number"
            id="price"
            v-model="v$.item.price.$model"
          />
          <!-- error message -->
          <div
            class="input-errors"
            v-for="(error, index) of v$.item.price.$errors"
            :key="index"
          >
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>

        <!-- Short decsription -->
        <div
          class="form-group"
          :class="{ error: v$.item.shortDescription.$errors.length }"
        >
          <label for="short-description">Kort beskrivelse *</label>
          <textarea
            maxlength="50"
            type="text"
            id="short-description"
            v-model="v$.item.shortDescription.$model"
          ></textarea>
          <!-- error message -->
          <div
            class="input-errors"
            v-for="(error, index) of v$.item.shortDescription.$errors"
            :key="index"
          >
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>

        <!-- Long description -->
        <div
          class="form-group"
          :class="{ error: v$.item.longDescription.$errors.length }"
        >
          <label for="long-description">Beskrivelse *</label>
          <textarea
            rows="10"
            maxlength="2500"
            id="long-description"
            v-model="v$.item.longDescription.$model"
          ></textarea>
          <!-- error message -->
          <div
            class="input-errors"
            v-for="(error, index) of v$.item.longDescription.$errors"
            :key="index"
          >
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>

        <!-- Location -->
        <div>
          <label for="location">Selges fra *</label>
          <div id="location-wrapper">
            <input
              :disabled="disableLocationInput"
              type="text"
              id="location"
              :placeholder="item.address ? item.address : 'By / stedsnavn'"
              v-model="item.address"
            />
            <button
              type="button"
              @click="getLocation()"
              id="location-button"
              title="Finn lokasjonen min"
            >
              <img src="../assets/images/position.svg" alt="position" />
            </button>
          </div>
        </div>

        <!-- Image -->
        <div>
          <label>Bilde *</label>
          <div id="image-upload-container">
            <label for="image" id="file-upload">
              <img
                src="../assets/images/upload.svg"
                alt=""
                style="width: 25px"
              />
            </label>
            <input
              type="file"
              accept="image/*"
              id="image"
              @change="updateImage($event.target.files)"
            />
          </div>
        </div>

        <!-- Submit button -->
        <button
          type="submit"
          :disabled="v$.item.$invalid || item.address == '' || !item.itemImage"
          id="submit"
        >
          Publiser
        </button>
      </form>
    </section>
  </div>
</template>

<script>
import Popup from "@/components/PopupItem.vue";
import EventService from "@/services/EventService.js";
import GoogleService from "@/services/GoogleService";
import useVuelidate from "@vuelidate/core";

import { required, minLength } from "@vuelidate/validators";
import CategoryService from "@/services/CategoryService";
// import { useField } from "vee-validate";

export default {
  name: "CreateItem",
  components: {
    Popup,
  },
  setup() {
    return {
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      archived: false,
      id: null,
      popupData: {
        message: "",
        display: "none",
        routerMessage: "",
        routerLink: "",
      },
      categories: [],
      item: {
        buyerAccount: null,
        sellerAccount: null,
        category: {
          categoryId: null,
        },
        itemName: "",
        shortDescription: "",
        longDescription: "",
        price: null,
        latitude: null,
        longitude: null,
        address: "",
        itemImage: null,
        archived: false,
      },
      invalidItem: false,
      disableLocationInput: false,
    };
  },
  validations() {
    return {
      item: {
        category: { required },
        itemName: { required, min: minLength(2) },
        shortDescription: { required, min: minLength(10) },
        longDescription: { required, min: minLength(10) },
        price: { required },
      },
    };
  },
  async mounted() {
    // Get and set state
    // this.getState();
    console.log("UPDATE ITEM");
    this.updateItem();
  },
  async created() {
    console.log("IDDD: " + this.$route.params.id);
    // Get and set categories
    CategoryService.getCategories().then((response) => {
      console.log(response.data);
      this.categories = response.data;
    });
  },
  methods: {
    updateItem() {
      this.item.itemId = this.$route.params.id;

      EventService.getItem(this.item.itemId).then((response) => {
        // Update item data to the item
        console.log("RESPONSE " + response.data);
        this.item = response.data;

        // Remove old item
        EventService.deleteItem(this.item.itemId);
      });
    },
    clearInputs() {
      this.item = {
        buyerAccount: null,
        sellerAccount: null,
        category: {
          categoryId: null,
        },
        itemName: "",
        shortDescription: "",
        longDescription: "",
        price: null,
        latitude: null,
        longitude: null,
        address: "",
        itemImage: null,
      };
    },
    showPopup() {
      this.popupData.display = "flex";
      this.popupData.message = "Annonsen er publisert!";
      this.popupData.routerLink = "/item/" + this.id;
      this.popupData.routerMessage = "Gå til annonsen";
    },
    getState() {
      this.item = this.$store.state.item;
    },
    setState() {
      this.$store.dispatch("updateItem", this.item);
      this.popupData = {
        message: "",
        display: "none",
        routerMessage: "",
        routerLink: "",
      };
    },
    updateImage(files) {
      if (!files.length) return;
      let formData = new FormData();
      formData.append("file", files[0], files[0].name);
      this.item.itemImage = formData;
    },
    onSubmit() {
      this.item.archived = this.archived;
      if (!this.disableLocationInput) {
        // Convert user written address to coordinates:
        GoogleService.getCoordinates(this.item.address)
          .then((response) => {
            this.item.latitude = response.latitude;
            this.item.longitude = response.longitude;

            //TODO propably a better way to do this than to nest apicalls (have to wait for response)
            EventService.postImage(this.item.itemImage)
              .then((response) => {
                const id = response.data;
                this.id = id;
                EventService.addItem(
                  this.item,
                  id,
                  this.item.category.categoryId
                );

                // Show popup message
                this.clearInputs();

                this.showPopup();

                // Go to homepage
                // this.$router.push({ path: "/" }).then(() => { });
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch((error) => {
            console.log(error.message);
          });
      } else {
        //TODO propably a better way to do this than to nest apicalls (have to wait for response)
        EventService.postImage(this.item.itemImage)
          .then((response) => {
            const id = response.data;
            this.id = id;
            EventService.addItem(this.item, id, this.item.category.categoryId);

            // Show popup message
            this.clearInputs();

            this.showPopup();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    assignPosition(position) {
      this.item.latitude = position.coords.latitude;
      this.item.longitude = position.coords.longitude;
      GoogleService.getAddress(this.item.latitude, this.item.longitude)
        .then((response) => {
          this.item.address = response;
          console.log(response);
        })
        .catch((error) => {
          console.log(error.message);
        });
    },
    getLocation() {
      this.item.address = "Henter...";
      if (navigator.geolocation) {
        this.disableLocationInput = true;
        navigator.geolocation.getCurrentPosition(this.assignPosition);
      } else {
        alert("Geolokasjon støttes ikke av denne nettleseren");
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#main-container {
  width: 100vw;
  @include flex-center;
  margin-bottom: 5rem;
}

.create-item-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

#location-button {
  @include flex-center;
  @include button-high-emphasis;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#location {
  height: 44px;
  font-weight: 600;
  border: transparent !important;
  border-radius: $border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

textarea {
  border-radius: 5px;
  border: 1px solid $border-color;
}

#category {
  @include input;
  cursor: pointer;
}

#location-wrapper {
  background-color: rgba($btn-bg-color, 0.1);
  width: fit-content;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-msg {
  color: red;
  font-size: $font-size-small;
}

#create-item-section {
  margin-top: 10vh;
  width: 30rem;
  max-width: 90%;
}

input[type]:not([type="file"]) {
  @include input;
}

input[type="file"]::file-selector-button {
  @include input;
  display: none;
}

#file-upload {
  width: fit-content;
  border: 1px solid $border-color;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#image-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

#image {
  border: none !important;
  padding: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#submit {
  height: 3.5rem !important;

  &:not([disabled]) {
    @include button-high-emphasis;
  }

  &:disabled {
    font-size: $font-size-medium;
    background-color: rgba($btn-bg-color, 0.4);
    color: $btn-color;
    border: none;
    font-weight: 600;
    cursor: inherit;
  }
}

textarea {
  padding: 15px;
  font-size: $font-size-medium;
}
</style>
