<template>
  <div id="main-container">
    <section id="content-section">
      <h2 id="my-page">Min side</h2>
      <img src="../assets/images/profile-circle.svg" alt="profile-circle" />
      <h2>{{ user.username }}</h2>
      <h5>{{ user.userEmail }}</h5>
    </section>
  </div>
</template>

<script>
import AuthenticateService from "@/services/AuthenticateService.js";

export default {
  name: "PublishedItems",
  data() {
    return {
      user: {
        username: "",
        userEmail: "",
        password: "",
      },
    };
  },
  mounted() {
    AuthenticateService.getCurrentUser().then((element) => {
      this.user = element;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#content-section {
  width: $content-width;
  max-width: 90%;
  @include flex-center;
  flex-direction: column;
  gap: 10px;
}

#my-page {
  margin-bottom: 20px;
}

#main-container {
  height: 50vh;
  width: 100vw;
  @include flex-center;
}
</style>
