@import "variables";
@import "mixins";

// Define global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &::selection {
        background: #2fa9ff;
      }
}

label, p {
    font-size: $font-size-medium;
}

p {
    line-height: 1.1rem;
}

body {
    background-color: $base-color;
}

button {
    font-size: $font-size-medium;
    border-radius: $border-radius;
    padding: 10px 15px 10px 15px !important;
    font-weight: 500;
}

input {
    font-size: $font-size-medium;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 15px 10px 15px !important;
    font-weight: 500;
}

#location {
    color: $text-color !important;
}

textarea {
    border: 1px solid $border-color !important;
}

button:hover {
    cursor: pointer;
}

