@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-low-emphasis {
    border: none;
    font-size: $font-size-medium;
    background-color: transparent;
    color: $btn-color;
    transition: background-color 80ms linear;

    &:hover {
        background-color: rgba($btn-color, 0.1);
    }
}

@mixin button-medium-emphasis {
    font-size: $font-size-medium;
    border: 1px solid $btn-bg-color;
    color: $btn-bg-color;
    background-color: transparent;
    transition: background-color 80ms linear;

    &:hover {
        background-color: rgba($btn-bg-color, 0.1);
    }
}

@mixin button-high-emphasis {
    font-size: $font-size-medium;
    background-color: $btn-bg-color;
    color: $btn-color;
    transition: background-color 80ms linear;
    border: none;
    font-weight: 600;

    &:hover {
        background-color: $btn-bg-color-darker;
    }
}

@mixin input {
    font-size: $font-size-medium;
    border-radius: 5px;
    border: 1px solid $border-color !important;
    color: $text-color;
    padding: 10px 15px 10px 15px !important;
    font-weight: 500;
}