// Colors
$base-color: rgb(255, 255, 255);
$header-bg-color: #0093FB;
$item-bg-color: rgb(255, 255, 255);
$btn-bg-color: #0093FB;
$btn-bg-color-darker: #0081de;
$btn-color: white;
$border-color: rgb(114, 114, 114);
$text-color: black;
$green: rgb(78, 255, 78);
$yellow: rgb(216, 216, 0);

// Font sizes
$font-size-small: 0.85rem;
$font-size-medium: 1rem;
$font-size-large: 1.4px;

// Other
$border-radius: 10px;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-tight: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$content-width: 55rem;
$btn-height: 2.5rem;
$border: solid 1px rgb(180, 180, 180);