<template>
  <router-view />
</template>

<script>
import AuthenticateService from "./services/AuthenticateService";

export default {
  beforeMount() {
    if (this.$store.state.loggedInStatus) {
      AuthenticateService.getCurrentUser().then((response) => {
        if (!response) {
          this.$store.commit("CHANGE_LOGGED_IN_STATUS", false);
          this.$store.commit("CHANGE_USERTOKEN", "");
        }
      });
    }
  },
};
</script>

<style lang="scss">
// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

#app {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
</style>
