<template>
  <HeaderItem></HeaderItem>
  <CreateItem></CreateItem>
  <FooterItem></FooterItem>
</template>

<script>
import CreateItem from "@/components/CreateItem.vue";
import HeaderItem from "@/components/HeaderItem.vue";

export default {
  name: "CreateItemView",
  components: {
    HeaderItem,
    CreateItem,
  },
};
</script>

<style lang="scss"></style>
