<template>
  <HeaderItem></HeaderItem>
  <FavoritesItem></FavoritesItem>
</template>

<script>
// @ is an alias to /src
import FavoritesItem from "@/components/FavoritesItem.vue";
import HeaderItem from "@/components/HeaderItem.vue";

export default {
  name: "FavoritesView",
  components: {
    FavoritesItem,
    HeaderItem,
  },
};
</script>

<style lang="scss"></style>
