<template>
  <div>
    <HeaderItem></HeaderItem>
    <HomePageItem />
    <FooterItem></FooterItem>
  </div>
</template>

<script>
// @ is an alias to /src
import HomePageItem from "@/components/HomePageItem.vue";
import HeaderItem from "@/components/HeaderItem.vue";
import FooterItem from "@/components/FooterItem.vue";

export default {
  name: "HomeView",
  components: {
    HomePageItem,
    HeaderItem,
    FooterItem,
  },
};
</script>

<style lang="scss"></style>
