<template>
  <HeaderItem></HeaderItem>
  <ItemDetails></ItemDetails>
  <FooterItem></FooterItem>
</template>

<script>
import HeaderItem from "@/components/HeaderItem.vue";
import FooterItem from "@/components/FooterItem.vue";
import ItemDetails from "@/components/ItemDetails.vue";

export default {
  name: "ItemView",
  components: {
    ItemDetails,
    HeaderItem,
    FooterItem,
  },
  props: {
    id: {
      required: true,
    },
  },
};
</script>
