<template>
  <LoginItem></LoginItem>
</template>

<script>
import LoginItem from "@/components/LoginItem.vue";

export default {
  name: "LoginView",
  components: {
    LoginItem,
  },
};
</script>

<style lang="scss"></style>
