<template>
  <HeaderItem></HeaderItem>
  <PublishedItems></PublishedItems>
</template>

<script>
import PublishedItems from "@/components/PublishedItems.vue";
import HeaderItem from "@/components/HeaderItem.vue";

export default {
  name: "PublishedItemsView",
  components: {
    PublishedItems,
    HeaderItem,
  },
};
</script>

<style lang="scss"></style>
