<template>
  <HeaderItem></HeaderItem>
  <UpdateItem></UpdateItem>
  <FooterItem></FooterItem>
</template>

<script>
import UpdateItem from "@/components/UpdateItem.vue";
import HeaderItem from "@/components/HeaderItem.vue";

export default {
  name: "UpdateItemView",
  components: {
    HeaderItem,
    UpdateItem,
  },
  props: {
    id: {
      required: true,
    },
  },
};
</script>

<style lang="scss"></style>
