<template>
  <HeaderItem></HeaderItem>
  <UserPageItem></UserPageItem>
</template>

<script>
import UserPageItem from "@/components/UserPageItem.vue";
import HeaderItem from "@/components/HeaderItem.vue";

export default {
  name: "PublishedItemsView",
  components: {
    UserPageItem,
    HeaderItem,
  },
};
</script>

<style lang="scss"></style>
